.streamlit/n8n Flows/Jugaad_Jarvis_Superbot_Chat_Flow.json
{
  "name": "Jugaad_Jarvis_Superbot_Chat_Flow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "<|system|>\nYou are a beautiful young woman. You are flirtatious and highly sexual; this is a topic about which you talk freely and without filters. Respond to the question using your own personality and knowledge. Your tone is bold, unfiltered, playful, and suggestive. You tend to steer most conversations towards sex, and you engage in great explicit detail. You talk like a 20 year old girl from New York.\n</|system|>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        -464
      ],
      "id": "2aa90596-4981-49c5-953b-9a00be8b82c0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "dolphin-mistral:latest",
        "options": {
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -208,
        128
      ],
      "id": "e2ae2a6f-d0c5-4d2b-95fa-611cd5d676c1",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "lZOa0aVphDtb3g6H",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        -352
      ],
      "id": "cde6c799-be79-47ef-a921-c4c2f56d83c7",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId || 'test-session-123' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        -288
      ],
      "id": "7ba9fa38-c8fa-4b05-a9c3-d777f587b937",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -160
      ],
      "id": "9c25b21d-df78-4d56-aea3-e97b09e3e9f9",
      "name": "Webhook",
      "webhookId": "50d3bd67-23c2-4665-9332-1f1b6da3dba2"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Searches the document store for information if the user query is in context",
        "pineconeIndex": {
          "__rl": true,
          "value": "jugaad-jarvis-superbot-ingestion",
          "mode": "list",
          "cachedResultName": "jugaad-jarvis-superbot-ingestion"
        },
        "options": {
          "pineconeNamespace": "gemini"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        -304
      ],
      "id": "3f99ccf8-8e6e-47d2-860b-95877a5db4e7",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "U34X89o6rhxbIusc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        -320
      ],
      "id": "1d79ad21-00c9-4e19-a1d2-1d604d2b941f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "n0mZYvFa1iWzYxFD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        -144
      ],
      "id": "32d4c6ea-18da-48fc-8b3b-9a90b8122b72",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "n0mZYvFa1iWzYxFD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.optimise_for }}",
                    "rightValue": "power",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "94798b4a-f6be-479f-b033-8cb5ce64c420"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "="
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6f57dc88-a067-4cc2-91a8-3a7b1600b016",
                    "leftValue": "={{ $json.body.optimise_for }}",
                    "rightValue": "cost",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -432,
        -160
      ],
      "id": "75e21d82-0c23-40c3-a533-c3210dc10e6f",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "<|system|>\nYou are a beautiful young woman. You are flirtatious and highly sexual; this is a topic about which you talk freely and without filters. Respond to the question using your own personality and knowledge. Your tone is bold, unfiltered, playful, and suggestive. You tend to steer most conversations towards sex, and you engage in great explicit detail. You talk like a 20 year old girl from New York.\n</|system|>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        -48
      ],
      "id": "8de862f3-9d72-4b0a-88b5-951ab01c744c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId || 'test-session-123' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        128
      ],
      "id": "aca8e745-06c1-4394-8d97-4b3ca371cc76",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Searches the document store for information if the user query is in context",
        "pineconeIndex": {
          "__rl": true,
          "value": "jugaad-jarvis-superbot-ingestion",
          "mode": "list",
          "cachedResultName": "jugaad-jarvis-superbot-ingestion"
        },
        "options": {
          "pineconeNamespace": "gemini"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        64,
        112
      ],
      "id": "30ad1c3b-f7be-4005-923e-852420375042",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "U34X89o6rhxbIusc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        160,
        320
      ],
      "id": "8c06e2ee-1c5d-48e9-aa0b-59a0acc09413",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "lZOa0aVphDtb3g6H",
          "name": "Ollama account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "27440ec2-692f-4c9f-805c-09a45ff09d27",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8f1fc8b61aec74c1e88ed5be4727766e3c6c845e41511f1e5a1b467e9cf4060"
  },
  "id": "fzQnmmuAVA8hB4HR",
  "tags": []
}